/* 
    This style sheet stylizes the controls inside our
    Web Tree JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Richard McKenna
    Author:	Ralph Huang
    Version:	1.0
*/

/* CSS CLASS FOR PAGE EDITING BUTTONS */
.tag_button { 
    -fx-background-color: 
        linear-gradient(#beef43, #57ef43),
        linear-gradient(#d2f143, #88f043),
        linear-gradient(#c1ef43, #73ef43),
        linear-gradient(#b4f771 0%, #acf762 50%, #a6f756 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #933bed;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 15 15 15 15;
}

/* CSS CLASS FOR PANES TO FILL THEIR FULL REGION */
.max_pane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color:#99ed80;
}

/* CSS CLASS FOR OUR BIG PANES */
.bordered_pane {
    -fx-background-color: #b580ed;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #99ed80;
}

/* CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI */
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI */
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI */
.prompt_label {
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

/* CSS CLASS FOR TEXT FIELDS AT UI PROMPTS */
.prompt_text_field {
    -fx-font-size: 13pt;
}
